COMPOSE_PROJECT_NAME=internview

# Network
DOCKER_NETWORK=internview-net

# PostgreSQL
POSTGRES_DB=internview
POSTGRES_USER=internview
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Kafka
KAFKA_CLUSTER_ID=abcdefghijklmnopqrstuv
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Consul
CONSUL_HTTP_ADDR=http://consul:8500

